.section-b__subh/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

/* Commento di Matteo: ho eliminato le proprietà ed i selettori inutili che non usavi */
iframe, img {
  vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
     background-color: #202322;
     color: white;
     font-size: 16px;
     margin: 0;
     padding: 0;
   }

.hero {
  display: flex;
  flex-flow: row wrap;
  background-size: cover;
  background-image: url("../img/mobile/homepage/girl.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.section-a__column2a__btn {
  background-color: #2a423a;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins";
  margin-top: 18px;
  border: 0;
}

.section-a__column2a__email {
  color: #afb0b7;
  background-color: #e1e2ea;
  border: 0;
  font-style: italic;
}

/* Mobile */

@media screen and (max-width: 767px) {

  /* Header*/
  .logo {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }

  hr {
    border-color: #3a3a3a;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  nav li {
    list-style: none;
    width: 100%;
    background-color: #202322;
    display: inline;
  }

  nav li a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #202322;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 60px;
    font-size: 1.125rem;
    font-family: "Open Sans";
  }

  .hero__tagline {
    margin-top: 53px;
    margin-left: 30px;
    width: 81%;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 36px;
  }

  .par {
    font-size: 0.875rem;
    font-family: "Opens Sans";
  }

  .section-a__column1a__par {
    width: 83%;
    margin-left: 20px;
  }

  .section-a {display: flex;
              background-color: #527158;
              flex-flow: column wrap;
              }

  .subh {
    margin-top: 0px;
    padding-top: 30px;
    padding-left: 20px;
    width: 83%;
  }

  .section-a__column1a, .section-a__column2a {
    align-content: center;
    justify-content: center;
    padding-left: 20px;
  }

  .form {
    width: 79%;
    height: 52px;
  }

  .section-a__column2a__btn {
    font-size: 1.125rem;
    margin-left: 20px;
    margin-bottom: 55px;
  }

  .section-a__column2a__email {
    margin-left: 20px;
  }

  /* Section B */

  .section-b {
    background-image: url("../img/mobile/homepage/rawpixel-800820-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 60px;
    text-align: center;
  }

  .subh2 {
    width: 83%;
    justify-content: flex-start;
  }

  .featured-items__columnb__par {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    text-align: center;
  }

  /* Commento di Matteo */
  /* evita di chiamare le classi img1, img2, ... cerca sempre di dare un contesto */
  /* quindi un nome che le descriva (anche un po' lungho ma esplicativo va bene ) */
  /* esempio: ho visto che sono usate per i loghi a fondo pagina. Al posto di img1 avrei dato un nome tipo: feature-item__image-campground */
  .img1 {
    width: 75px;
    height: 61px;
  }

  .img2 {
    width: 75px;
    height: 45px;
    padding-top: 60px;
  }

  .img3 {
    width: 49px;
    height: 61px;
    padding-top: 60px;
  }

  .img4 {
    width: 75px;
    height: 61px;
    padding-top: 60px;
  }

  .img5 {
    width: 58px;
    height: 59px;
    padding-top: 60px;
  }

  .img6 {
    width: 75px;
    height: 53px;
    padding-top: 60px;
  }

  .section-a__column2a__subh {
    font-family: "Poppins";
    font-size: 1.875rem;
    font-weight: normal;

  }

  .section-c {
    background-color: #2a423a;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

.section-b__subh {margin-left: auto;
                  margin-right: auto;
                  text-align: left;
                  width: 70.72%;}



  .section-c__column2c {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .subh3 {
    width: 82%;
  }

  .parc, .section-c__head {
    width: 82%;
  }

  /* Footer */
  .footer__section-d {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }

  .section-e {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: inline;
  }

  .section-e__social-title {
    text-align: center;
  }

  .section-e__icon {
    display: inline;
    text-align: center;
    border: 1px solid #527158;
    padding: 10px;
    border-radius: 50%;
    background-color: #527158;
    margin: 0px;
  }

  .facebook {
    padding: 10px 15px;
  }

  .section-e__div-icons {
    text-align: center;
  }

  .section-f {
    display: flex;
    justify-content: center;
  }

  /* Faq main */
  .section-a-faq {
    background-color: #527158;
    color: white;
    /* Commento di Matteo: qui puoi usare la proprietà padding che aggrega tutte e 4 i padding (come sotto) */
    padding: 50px 20px;
  }

  /* About main */
  .section-a-about {
    background-color: #527158;
    color: white;
    padding: 0px 20px 50px 20px;
    margin-top: 0px;
  }

  .section-c-about {
    margin-top: 0px;
    background-color: #2a423a;
    color: white;
    padding: 50px 20px 50px 20px;
    height: 100%;
  }

  .head-about {
    font-family: "Poppins";
    font-size: 1.875rem;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 55px;
  }
}

/* Tablet */

/* Hero Area */

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .logo {
    float: left;
    padding: 30px 0 35px 65px;
  }

  .navbar {
    float: right;
    margin: 5px 65px 20px 0;
    font-family: "Open Sans";
  }

  hr {
    border-color: #202322;
  }

  nav li a {
    padding-left: 40px;
  }

  .hero__tagline {
    padding-left: 40px;
    color: white;
    font-size: 3rem;
    font-family: "Poppins";
    width: 540px;
    font-weight: normal;
  }

  nav li {
    list-style: none;
    width: 100%;
    background-color: #202322;
    display: inline;
  }

  nav li a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #202322;
    color: white;
  }

  /* Ho lasciato solo le proprietà che cambiano rispetto a sopra */
  .hero {
    clear: both;
    background-image: url("../img/tablet/homepage/girl.png");
  }

  /* Section a Area */
  .subh {
    font-family: "Poppins";
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
  }

  .section-a__column1a__par {
    font-family: "Open Sans";
    font-size: 0.875rem;
    width: 300px;
    color: white;
    line-height: 18px;
  }

  .form {
    width: 290px;
  }

  .section-a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 235px;
    background-color: #527158;
  }

  .section-a__column1a {
    display: flex;
    width: 40%;
    flex-flow: column wrap;
    align-content: center;
  }

  .section-a__column2a {
    display: flex;
    width: 40%;
    flex-flow: column wrap;
  }

  .form {
    width: 89%;
    height: 20%;
  }

  .section-a__column2a__btn {
    font-size: 1.125rem;
    text-align: center;

  }

.section-a__column1a__subh {margin-top: 19.92px;}

.section-b__subh {margin-left: 66px;
                  margin-right: 66px;
                  font-size: 36px;
                  line-height: 48px;}

  /* Icons-top Area */
  .section-b {
    background-image: url("../img/tablet/homepage/rawpixel-800820-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 60px;
    width: 100%;
  }

  .subh2 {
    color: white;
    font-size: 1.5rem;
    font-family: "Poppins";
    font-weight: normal;
    margin-top: 19.92px;
    text-align: left;
  }

  .par {
    color: white;
    font-size: 0.875rem;
    font-family: "Open Sans";
    padding-bottom: 50px;
  }

  .section-a__column1a__par {padding: 0px;}

  .featured-items {
    display: flex;
    justify-content: space-around;
    height: 855px;
    align-items: center;
    text-align: center;
  }

  .featured-items__column1b {
    width: 27%;
  }

  .featured-items__column2b {
    width: 27%;
  }

  /* Review Area */
  .section-c__head {
    font-size: 2.25rem;
    font-family: "Poppins";
    text-align: center;
    padding-top: 105px;
    width: 100%;
    margin-top: 0;
    color: white;
    font-weight: normal;
  }

  .section-c {
    background-color: #2a423a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .section-c__column1c {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .section-c__column2c {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }

  .subh3 {
    margin-bottom: 10px;
    width: 310px;
    color: white;
    font-weight: normal;
  }

  .parc {
    width: 200px;
    margin: 0;
    padding-bottom: 40px;
    width: 310px;
  }

  #group {
    margin-bottom: 90px;
  }

  /* Footer Area */
  .footer__section-d {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }

  .section-e {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: inline;
  }

  .section-e__social-title {
    text-align: center;
  }

  .section-e__icon {
    display: inline;
    text-align: center;
    border: 1px solid #527158;
    padding: 10px;
    border-radius: 50%;
    background-color: #527158;
    margin: 0 20px;
  }

  .facebook {
    padding: 10px 15px;
  }

  .section-e__div-icons {
    text-align: center;
  }

  .section-f {
    display: flex;
    justify-content: center;
  }

  /* Faq Area */
  /* Main Faq Area */
  .section-a-faq {
    display: flex;
    width: 100%;
    height: 515px;
    align-items: flex-end;
    justify-content: space-around;
    align-items: center;
  }

  .column1-faq {
    width: 40%;
    padding-right: 50px;
  }

  .column2-faq {
    width: 40%;
    margin-top: 0;
  }

  .title-faq {
    font-family: "Poppins";
    font-size: 2.25rem;
    font-weight: normal;
    line-height: 48px;
    width: 500px;
    margin-top: -50px;
  }

  .question-title {
    font-family: "Poppins";
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 18px;
  }

  .par-faq {
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 18px;
  }

  .section-a-faq {
    background-color: #527158;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  /* About Area */
  .section-a-about {
    margin-top: 100px;
    background-color: #527158;
    color: white;
    padding: 0px;
  }

  .flex-head {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-left: 30px;
  }

  .p1, .p2 {
    margin: 0;
    padding-bottom: 100px;
  }

  .flex-container2 {
    display: flex;
    justify-content: center;
  }

  .column1-about {
    width: 40%;
  }

  .column2-about {
    width: 40%;
  }

  .section-c-about {
    background-color: #2a423a;
    color: white;
    padding-bottom: 105px;
  }

  .head-about {
    font-family: "Poppins";
    font-size: 1.875rem;
    font-weight: 400;
    padding-top: 105px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
  }

  /* Contact Area */
  .column-text {
    display: flex;
    justify-content: space-around;
  }

  .column1d {
    width: 25%;
  }

  .column2d {
    width: 25%;
  }

  /* Footer Faq Area */
  .footer {
    display: flex;
    height: 100%;
    color: white;
  }

  .footer__section-d {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }

  .section-e {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }
}

/* Desktop Area */

@media screen and (min-width: 1200px) {

  .logo {
    float: left;
    padding-bottom: 35px;
    padding-left: 65px;
    padding-top: 30px;
    max-width: 100%;
  }

  .navbar {
    float: right;
  }

  .hero__tagline {
    padding-left: 40px;
    font-size: 3.75rem;
    width: 860px;
    font-weight: normal;
    font-family: "Poppins";
  }

  nav li {
    list-style: none;
    width: 100%;
    background-color: #202322;
    display: inline;
  }

  nav li a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #202322;
    color: white;
    margin: 0px 50px 0px 0px;
    font-size: 1.125rem;
  }

  hr {
    border-color: #202322;
  }

  /* Commento di Matteo: Ho preso come esempio la classe hero per spiegarti le media queries - dove puoi evitare di duplicare codice ;) */
  .hero {
    clear: both;
    background-image: url("../img/desktop/homepage/girl.png");
    height: 600px;
  }

  .subh {
    font-family: "Poppins";
    font-size: 1.875rem;
    font-weight: normal;
  }

  .section-a__column1a__par {
    font-family: "Open Sans";
    font-size: 1.125rem;
    width: 300px;
  }

  .form {
    width: 320px;
  }

  .section-a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 260px;
    border-bottom: 30px solid #1a2c2a;
    background-color: #527158;
  }

  .section-a__column1a {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
  }

  .section-a__column2a {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
  }

  .subh2 {
    padding-left: 30px;
  }

  .section-a__column2a__btn {
    font-size: 1.5rem;
    border: 0;
    margin-bottom: 0px;
    height: 50px;
  }

  .section-a__column2a__email {
    font-size: 1.125rem;
    height: 50px;
  }

  /* Section B */
  .subh2 {
    text-align: center;
    width: 100%;
    font-size: 2.25rem;
    font-family: "Poppins";
    font-weight: normal;
    margin-top: 105px;
    margin-bottom: 100px;
  }

  .section-b {
    height: 800px;
    background-image: url("../img/desktop/homepage/rawpixel-800820-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .section-b {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 800px;
    margin-top: 0px;
  }

  .featured-items__column1b {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .featured-items__column2b {
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .featured-items__columnb__par {
    padding: 0px 100px 140px 140px;
    width: 200px;
  }

  .img1 {
    width: 75px;
    height: 61px;
  }

  .img2 {
    width: 75px;
    height: 45px;
  }

  .img3 {
    width: 49px;
    height: 61px;
  }

  .img4 {
    width: 75px;
    height: 61px;
  }

  .img5 {
    width: 58px;
    height: 59px;
  }

  .img6 {
    width: 75px;
    height: 53px;
  }

  /* Section C */
  .section-c__head {
    font-size: 2.25rem;
    font-family: "Poppins";
    text-align: center;
    padding-top: 105px;
    width: 100%;
    margin-top: 0;
    color: white;
    font-weight: normal;
  }

  .subh3 {
    font-size: 1.875rem;
    font-family: "Poppins";
  }

  #group {
    width: 457px;
    height: 300px;
  }

  .section-c {
    background-color: #2a423a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 620px;
  }

  .section-c__column1c {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .section-c__column2c {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }

  .subh3 {
    margin: 0;
    width: 310px;
    color: white;
    font-weight: normal;
  }

  .parc {
    width: 200px;
    margin-top: 20px;
    padding-bottom: 40px;
    width: 310px;
    font-family: "Open Sans";
  }

  /* Footer */
  .footer {
    display: flex;
    height: 100%;
    color: white;
  }

  .footer__section-d {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }

  .section-e {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: inline;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }

  .section-e__social-title {
    text-align: center;
  }

  .section-e__icon {
    display: inline;
    text-align: center;
    border: 1px solid #527158;
    padding: 10px;
    border-radius: 50%;
    background-color: #527158;
    margin: 0 20px;
  }

  .facebook {
    padding: 10px 15px;
  }

  .section-e__div-icons {
    text-align: center;
  }

  .section-f {
    display: flex;
    justify-content: center;
  }

  /* Faq area */
  .section-a-faq {
    display: flex;
    width: 100%;
    height: 515px;
    align-items: flex-end;
    justify-content: space-around;
    align-items: center;
  }

  .column1-faq {
    width: 40%;
    padding-right: 50px;
  }

  .column2-faq {
    width: 40%;
    margin-top: 0;
  }

  .title-faq {
    font-family: "Poppins";
    font-size: 3rem;
    font-weight: normal;
    line-height: 48px;
    width: 700px;
    margin-top: -50px;
  }

  .question-title {
    font-family: "Poppins";
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 18px;
  }

  .par-faq {
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 18px;
  }

  .section-a-faq {
    background-color: #527158;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  /* Contact Area */
  .column-text {
    display: flex;
    justify-content: space-around;
  }

  .column1d {
    width: 25%;
  }

  .column2d {
    width: 25%;
  }

  /* Footer Faq Area */
  .footer {
    display: flex;
    height: 100%;
    color: white;
  }

  .footer__section-d {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }

  .section-e {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }

  /* About Area */
  .section-a-about {
    margin-top: 100px;
    background-color: #527158;
    color: white;
    /* Commento di Matteo: se è 0 non serve aggiugnere px ;) */
    padding: 0;
    height: 440px;
  }

  .flex-head {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-left: 30px;
  }

  .p1, .p2 {
    margin: 0;
    padding-bottom: 100px;
    font-size: 1.125rem;
    font-family: "Open Sans";
    padding-right: 100px;
  }

  .flex-container2 {
    display: flex;
    justify-content: center;
  }

  .column1-about {
    width: 40%;
  }

  .column2-about {
    width: 40%;
  }

  .section-c-about {
    margin-top: 0px;
    background-color: #2a423a;
    color: white;
    padding: 50px 20px 50px 20px;
  }

  .head-about {
    font-family: "Poppins";
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
  }

  .head-about2 {
    font-family: "Poppins";
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
  }

  .par-about {
    font-size: 1.125rem;
    font-family: "Open Sans";
  }

  /* Contact Area */
  .column-text {
    display: flex;
    justify-content: space-around;
  }

  .column1d {
    width: 25%;
  }

  .column2d {
    width: 25%;
  }

  /* Footer Faq Area */
  .footer {
    display: flex;
    height: 100%;
    color: white;
  }

  .footer__section-d {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }

  .section-e {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 105px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
