/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
         background-color: #202322;
         color: white;
         font-size: 16px;
         margin:0;
         padding: 0;
       }

/* Header*/

.logo {
        display: flex;
        justify-content: center;
      }

hr {color: #3a3a3a;}

nav { display: flex;
      justify-content: center;
    }

nav li {
        list-style: none;
        width: 100%;
        background-color: #202322;
        display: inline;
       }

nav li a {
          text-decoration: none;
          text-transform: uppercase;
          background-color: #202322;
          color: white;
          margin-top: 20px;
          margin-bottom: 20px;
          margin-right: 60px;
         }


/* Hero */

.hero {
      display: flex;
      flex-flow: row wrap;
      background-size: cover;
      background-image: url("../img/mobile/homepage/girl.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 500px;
      margin: 0;
      padding: 0;
      }

.tagline {position: relative;
          top: 53px;
          left: 30px;
          padding-right: 80px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 36px;
          }

.par {
      font-size: 14px;
      font-family: "Opens Sans";
      }

.parb {margin-left: 97px;
      margin-right: 97px;
      text-align: center;
    }

#par1 {
      margin-left: 60px;
      }

.section-a {
            background-color: #527158;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
           }

           .subh {
                 margin-left: 20px;
                 margin-top: 0px;
                 padding-top: 30px;
                 }

          #subh2 {margin-right: 175px;}

.form {
        width: 320px;
        height: 52px;
      }

#btn {
      background-color: #2a423a;
      color: white;
      text-transform: uppercase;
      font-size: 18px;
      font-family: "Poppins";
      margin-top: 18px;
      margin-left: 20px;
      border: 0;
      margin-bottom: 55px;
     }

#email {
        color: #afb0b7;
        background-color: #e1e2ea;
        margin-left: 20px;
        border: 0;
       }

.section-b {
            background-image: url("../img/mobile/homepage/rawpixel-800820-unsplash.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 70px;
            padding-top: 60px;
          }

.img {
      width: 75px;
      height: 61px;
      padding-top: 60px;
      }

.subh2 {
        font-family: "Poppins";
        font-size: 30px;
        font-weight: normal;
        margin-left: 20px;
       }

.section-c {
            background-color: #2a423a;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            }

.subh3 {position: relative; right: 80px;}

.parc, .head1 {margin-left: 20px; margin-right: 20px;}

/* Footer */

.section-d {display: flex; flex-flow: column wrap; align-items: center; text-align: center;}

.section-e {margin-left: auto; margin-right: auto; width: 200px; display: inline;}

.social-title {text-align: center;}

.icon {
      display: inline;
      text-align: center;
      border: 1px solid #527158;
      padding: 10px;
      border-radius: 50%;
      background-color: #527158;
      margin: 0 20px;
      }

.div-icons {text-align: center;}

.section-f {display: flex; justify-content: center;}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
